.human{
    width: 25rem;
    height: 25rem;

}
.face{
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;

}
.aye{
    width: 6rem;
    height: 6rem;
    background-color: white;
    position: absolute;
    top: 20%;
    border-radius: 50%;
}
.aye::after{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0%;
    animation: pelk 2s infinite;
}
@keyframes pelk {
    0%{
        height: 0;
    }
    69%{
        height: 0;
    }
    70%{
        height: 100%;
    }
    80%{
        height: 0;
    }
    82%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
    
}
@keyframes look{
    0%{
        transform: translate(0);
    }
    10%{
        transform: translate(40%,20%);
        
    }
    40%{
        transform: translate(-100%,5%);
    }
    100%{
        transform: translate(0);
    }
}
.mardomak{
    width: 2rem;
    height: 2rem;
    background-color: blue;
    position: absolute;
    top: 30%;
    left: 33%;
    border-radius: 50%;
    animation: look 4s infinite;
}
.left{
    left: 15%;
}
.right{
    right: 15%;
}
.nose{
    background-color: white;
    width: 2.8rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 45%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.hole{
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.mouth{
    background-color: white;
    width: 15rem;
    height: 6rem;
    position: absolute;
    top: 65%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 5px 5px 100% 100%;
}
.dandoon{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr;
}
.dandon1{
    grid-column: 1/2;
    grid-row: 1;
    background-color: white;
    border-bottom-left-radius: 200px;
}
.dandon2{
    grid-column: 2/3;
    grid-row: 1;
    background-color: black;
}
.dandon3{
    grid-column: 3/4;
    grid-row: 1;
    background-color: white;
}
.dandon4{
    grid-column: 4/5;
    grid-row: 1;
    background-color: black;
}
.dandon5{
    grid-column: 5/6;
    grid-row: 1;
    background-color: white;
}
.dandon6{
    grid-column: 6/7;
    grid-row: 1;
    background-color: black;
}
.dandon7{
    grid-column: 7/8;
    grid-row: 1;
    background-color: white;
}
.dandon8{
    grid-column: 8/8;
    grid-row: 1;
    background-color:wheat;
    border-bottom-right-radius: 200px;
}

.zabon{
    background-color: red;
    width: 4rem;
    height: 5rem;
    position: absolute;
    top: 70%;
    left: 40%;
    z-index: 999;
    border-radius: 0 0  80% 80%;
    animation: zabon 2s infinite;
}

@keyframes zabon {
    0%{ 
    }
    50%{
        height: 50px;
    }   
}