*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.image{
    background: url(images/3042.jpg);
    filter: contrast(85%);
    width: 100%;
    height: 100vh;
    background-position: bottom center;
    position: relative;
    animation: move 6s infinite linear;
}
@keyframes move{
    0%{
        background-position: bottom left;
    }
    100%{
        background-position: bottom right;
    }
}
.div-car{
    position: absolute;
    top: 31rem;
    left: 0rem;
}
.car{
    width: 20rem;
    height: 18rem;
    animation: car 7s infinite;
}

@keyframes car{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100rem);
    }
}